#begin_section#
<h2>#title#</h2>
<div>
	<h2>Bilan dépenses</h2>
	#tableaudepenses#
</div>
<div>
	<h2>Bilan recettes</h2>
	#tableauRecettes#
</div>
<div>
	<h2>Bilan financier : #resulatBilan#</h2>
</div>

#end_section#