#begin_section#
<div>
	<h2>#title#</h2>

	<div>
		#tableau_liste_etablissements# <!-- tableau liste etablissement-->
	</div>

	<div>
		#infos_etablissement_selectionne#
	</div>

	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
			src="https://www.openstreetmap.org/export/embed.html?bbox=-27.817382812500004%2C36.87962060502676%2C21.225585937500004%2C54.597527852113885&amp;layer=mapnik#openstreetmap_coord#"
			style="border: 1px solid black"></iframe>
	<br />
	<small><a href="https://www.openstreetmap.org/?mlat=46.453&amp;mlon=-3.296#map=5/46.453/-3.296">View Larger Map</a></small>

	<div>
		#adresse_etablissement#
	</div>

</div>
#end_section#

