#begin_section#
<div>
	<h2>#title#</h2>
</div>
<div>
	#bouton_paypal#
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
		<input type='input' name="amount" />
		<input name="currency_code" type="hidden" value="EUR" />
		<input name="shipping" type="hidden" value="0.00" />
		<input name="tax" type="hidden" value="0.00" />
		<input name="return" type="hidden" value="http://apel-bonne-esperance.lan/paiementValide.php" />
		<input name="cancel_return" type="hidden" value="http://apel-bonne-esperance.lan/paiementAnnule.php" />
		<input name="notify_url" type="hidden" value="http://apel-bonne-esperance.lan/validationPaiement.php" />
		<input name="cmd" type="hidden" value="_xclick" />
		<input name="business" type="hidden" value="biblifram342@protonmail.com" />
		<input name="item_name" type="hidden" value="1" />
		<input name="no_note" type="hidden" value="1" />
		<input name="lc" type="hidden" value="FR" />
		<input name="bn" type="hidden" value="PP-BuyNowBF" />
		<input name="custom" type="hidden" value="ID_ACHETEUR" />
		<input alt="Effectuez vos paiements via PayPal : une solution rapide, gratuite et sécurisée" name="submit" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" type="image" /><img src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" border="0" alt="" width="1" height="1" />
	</form>
</div>
#end_section#