#begin_section#

<h2>#title#</h2>

<nav>
	<ul>
		#listes_faq_epingles# <!-- faq épinglées-->
	</ul>
</nav>

<nav>
	<ul>
		#listes_faq_dispo# <!-- faq dispos en fonction de ses droits-->
	</ul>
</nav>

#end_section#