#begin_section#
<h2>#title#</h2>
<p>
	Pour recevoir nos derniers évenements, il vous suffit de copier le lien ci-dessous dans votre lecteur de flux RSS.<br />
 	<a href="/fluxRssXml.php" class="copy">/fluxRssXml.php</a>
</p>
#end_section#

