<footer class="background gris">
	<ul>
		<li class="texte blanc">
			<a href="/etablissements.php">Les établissements</a>
		</li>
		<li class="texte blanc">
			<a href="/faq.php">FAQ</a>
		</li>
		<li class="texte blanc">
			<a href="/news.php">News</a>
		</li>
		<li class="texte blanc">
			<a href="/fluxRss.php">Flux RSS</a>
		</li>
	</ul>

</footer>
#message#
<div id="divAllChatWindows">
</div>
</body>
</html>