#begin_section#
<h1>Bienvenue,<br>Veuillez entrer la clé d'activation</h1>
<h2>#message#</h2>

<div>
	#begin#
	#cle#
	<div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6Lc-oWYUAAAAAM7c1csbIXIaZ64Cq7rXOc0dMY3S"></div>
	#submit#
	#end#
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>

    function recaptchaCallback()
    {
        $('#valider').removeAttr('disabled');
    }

</script>
#end_section#