<h3>Inscription</h3>
#message#

#begin#

<div class="elementForm">
	#email#
</div>
<div class="elementForm">
	#emailConf#
</div>
<div class="elementForm">
	#password#
</div>
<div class="elementForm">
	#passwordConf#
</div>
<div class="elementForm">
	#civilite#
</div>
<div class="elementForm">
	#nom#
</div>
<div class="elementForm">
	#prenom#
</div>
<div class="elementForm">
	#date#
</div>
<div class="elementForm">
	#submit#
</div>

#end#