#begin_section#
<div>

    <h2>#image##title#</h2>
    <br><br>
    <!-- formulaire modification du compte-->
    <div>
        #begin#
        #email#
        <br><br>
        #emailConf#
        <br><br>
        #password#
        <br><br>
        #passwordConf#
        <br><br>
        #civilite#
        <br><br>
        #nom#
        <br><br>
        #prenom#
        <br><br>
        #date#
        <br><br>
        #submit#
        #end#
    </div>

    <br><br>

    <!-- formulaire chargement avatar
    <div>
        #beginAvatar#
        #chemin#
        <br><br>
        #submitAvatar#
        #end#
    </div>
    <br><br>
-->


    <!-- Lien vers les transactions-->
    <div>
        #transactions#
    </div>
    <br><br>

</div>
#end_section#

