<nav>
	<ul>
		<li>
			<a href="/gestionEvenements.php" title="Evenements">Evenements</a>
		</li>
		<li>
			<a href="/suggestions.php" title="Suggestions">Suggestions</a>
		</li>
		<li>
			<a href="" title="Communauté" id="linkBulleCommunaute">Communauté</a>
		</li>
		<li>
			<a href="#" title="Informations" id="linkBulleInformations">Informations</a>
		</li>
		<li>
			<a href="#" title="Administratifs" id="linkBulleAdministratifs">Administratifs</a>
		</li>
		<li>
			<a href="#" title="Paramétrages" id="linkBulleParametrages">Paramétrages</a>
		</li>
	</ul>
	<script>

        $('#linkBulleCommunaute').click(function (event)
        {
            event.preventDefault();
            MonAppli.getBulleCommunaute();
        });
        $('#linkBulleInformations').click(function (event)
        {
            event.preventDefault();
            MonAppli.getBulleInformation();
        });
        $('#linkBulleAdministratifs').click(function (event)
        {
            event.preventDefault();
            MonAppli.getBulleAdministratif();
        });
        $('#linkBulleParametrages').click(function (event)
        {
            event.preventDefault();
            MonAppli.getBulleParametrage();
        });
	</script>
</nav>
