<div>

</div>
#begin_section#

<h2>#title#</h2>
<div>
	<h3>Sauvegarde</h3>
	<p>Permet de sauvegarder la base de données et le site à son état lors de l'appuis sur ce bouton</p>
	<a href="" title="Sauvegarder" id="boutonSauvegarde">Sauvegarder</a>
</div>

<div>
	<h3>Restauration</h3>
	<p>Permet de restaurer le site et sa base de données à la version sélectionnée dans la liste</p>
	Tempo : #formrestau#
	#begin#
	#cbx_liste_sauv#
	#submit#
	<br><br>
	#end#
</div>

#end_section#