<aside class="background rouge">
	<div>
		#calendrier#
	</div>

	<div id="messagerieInstantane">
		<h4>Messagerie instantané</h4>
		<div id="listePersonne">
			#chat#
		</div>
	</div>
	<script>
        $('.unePersonne').click(function (event)
        {
            event.preventDefault();
            MonAppli.openMessagerieInstantane($(this).data());
        });
	</script>
</aside>