/**
	* Created by PhpStorm.
	* User: Guillaume
	* Date: 05/07/2017
	* Time: 11h34
*/
/**
	* Arborescence du CSS: APEL - Bonne Esperance
	*
	* 	1.0 - Polices d'écritures supplémentaires
	* 	2.0 - Variables
	* 	3.0 - Général au site
	* 	4.0 - Header
	* 	5.0 - Aside
	* 	6.0 - Section
	* 	6.1 -	Section - Popup | Bulle
	* 	6.2 -	Section -
	* 	7.0 - Footer
	* -----------------------------------------------------------------------------
	*
*/

/*<editor-fold desc=" 1.0 -  Polices d'écritures supplémentaires">*/

/*</editor-fold>*/

/*<editor-fold desc="2.0 - Variables">*/

:root
{
  /* Couleur basique */
  --blanc: hsl(0, 0%, 95%);
  /* #F2F2F2; */
  --blancFonce: hsl(0, 0%, 81%);
  /* #CECECE;*/
  /* Couleur thème */
  --rouge: hsl(355, 43%, 42%);
  /* #983C44; */
  --rougeFonce: hsl(4, 63%, 37%);
  /* #982A23; */
  --BleuComplementaire: hsl(175, 43%, 42%);
  /* #3D9991; */
  --grisClair: hsl(231, 13%, 20%);
  /* #2C2E3A; */
  --grisTresClair: hsl(231, 13%, 40%);
  /* #1A1C28 */
  --gris: hsl(231, 13%, 20%);
  /* #2D2F3B */
  --grisFonce: hsl(235, 14%, 18%);
  /* #272934; */
}

/*</editor-fold>*/

/*<editor-fold desc="3.0 - Général au site">*/
/*::selection*/
/*{*/
/*!*color: ;*!*/
/*!*background: ;*!*/
/*}*/

*
{
  Box-sizing: border-box;
  Margin: 0;
  Padding: 0;
  word-wrap: break-word;
  Outline: 0;
  Color: Black;
  Border: none;
  Font-family: "Tahoma";
  Font-size: 1em;
  Font-weight: normal;
}

html
{ }

/*</editor-fold>*/
body
{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;

  /*<editor-fold desc="4.0 - Header">*/
  header
  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    Min-height: 70px;
    background: var(--gris);
    h1 a
    {
      Display: inline-block;
      Padding: 20px;
      Color: var(--blanc);
      Font-family: "Tahoma";
      Font-weight: bold;
      Text-transform: uppercase;
      text-decoration: none;
    }
    nav
    {
      align-self: stretch;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
      /*flex-grow: 1;*/
      ul
      {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: stretch;
        list-style: none;
        li
        {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: center;
          list-style: none;
          a
          {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            height: 100%;
            padding: 0 20px;
            color: var(--blanc);
            text-decoration: none;
          }
        }
      }
    }
  }
  > nav
  {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    min-height: 70px;
    padding: 10px 0;
    ul
    {
      min-width: 55%;
      list-style: none;
      display: flex;
      Flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: stretch;
      li
      {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: 10px;
        min-height: 50px;
        border: solid 2px var(--rouge);
        background: var(--rouge);
        &:hover
        {
          transform: scale(1.1);
        }
        a
        {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          color: var(--blanc);
          font-size: 1.05em;
          font-variant: small-caps;
          letter-spacing: 2px;
          text-decoration: none;
        }
      }
    }
  }
  /*</editor-fold>*/

  /*<editor-fold desc="5.0 - Aside">*/

  aside
  {
    flex-grow: 1;
    border: 1px solid;
  }

  /*</editor-fold>*/

  /*<editor-fold desc="6.0 - Section">*/
  /*
      VIncent : J'ai mis des border sur tous les éléments pour les identifier. Pourront
      Etre enlevées quand les couleurs de background seront bonnes
  */

  section
  {
    Flex-grow: 8;
    Min-height: 400px;
    Max-width: 85%;
    Background: var(--blanc);
  }
  h2
  {
    Padding: 30px 0 30px 50px;
    Color: var(--rougeFonce);
    Font-size: 3em;
    Font-variant: small-caps;
    Letter-spacing: 2px;
  }
  h3
  {
    Padding: 12px 0 15px 2.5%;
    Color: var(--grisTresClair);
    Font-size: 2em;
    font-variant: small-caps;
    Letter-spacing: 1.3px;
  }
  div.actionBouton
  {
    Display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    Padding: 10px;
    Background: var(--rouge);
    a
    {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 0 20px;
      min-height: 50px;
      color: var(--rouge);
      background: var(--blanc);
      border: solid 2px var(--blanc);
      font-size: 1.05em;
      font-variant: small-caps;font-weight: 600;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
    h3
    {
      Display: inline-block;
      Max-width: 50%;
      Padding: 10px 50px 10px 0;
      Margin: 0 0 0 60px;
      Color: var(--rougeFonce);
      Font-size: 2em;
      Font-variant: small-caps;
      Text-indent: 10px;
      Letter-spacing: 1px;
      border-bottom: 3px solid currentColor;
    }
  }

  p
  {
    Padding: 5px 15px 15px;
  }

  a.copy
  {
    display: inline-block;
    border: 1px dotted black;
    border-radius: 15px;
    margin: 10px 20px;
    padding: 15px;
    width: 80%;
    background: white;
  }

  #caroussel
  {
    Flex-grow: 1;
    Width: 100%;
    Min-height: 400px;
  }

  .btn_valider
  {
    font-family: "Tahoma";
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: none;
    border: none;
    &.rouge
    {
      background-color: var(--rouge);
      color: var(--blanc);
      &:hover
      {
        background-color: var(--rougeFonce);
        color: var(--blanc);
        transition-delay: 0s;
      }
    }
    &.gris
    {
      background-color: var(--gris);
      color: var(--blanc);
      &:hover
      {
        background-color: var(--grisFonce);
        border-color: var(--grisFonce);
        color: var(--blanc);
        transition-delay: 1s;
      }
    }
    &.blanc
    {
      background-color: var(--blanc);
      color: var(--rouge);
      &:hover
      {
        transition: all 200ms;
        background-color: var(--blancFonce);
        color: var(--rouge);
      }
    }
  }

  .titre
  {
    font-family: "Tahoma";
    font-weight: bold;
    text-transform: uppercase;
    &.blanc
    {
      color: var(--blanc);
    }
    &.rouge
    {
      color: var(--rouge);
    }
  }

  .texte
  {
    font-family: "Tahoma";
    &.blanc
    {
      color: var(--blanc);
    }
    &.rouge
    {
      color: var(--rouge);
    }
  }

  .menu
  {
    flex-grow: 1;
    width: 100%;
    border: 1px solid;
    li
    {
      display: inline-block;
      padding: 0.5em;
    }
  }

  .corpsPage
  {
    flex-grow: 8;
    width: initial;
  }

  .entete ul
  {
    display: flex;
    justify-content: space-between;
  }

  .background
  {
    &.gris
    {
      background-color: var(--gris);
    }
    &.blanc
    {
      background-color: var(--blanc);
    }
    &.rouge
    {
      background-color: var(--rouge);
    }
  }

  .container
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid;
  }

  .slider
  {
    width: 100%;
    flex-grow: 1;
    border: 1px solid;
    img
    {
      width: 100%;
    }
  }

  /*Cette propriété pourra etre supprimée car a la place de l'image , il y aura un vrai slider*/

  //<editor-fold desc="6.1 - News">
  article
  {
    background-color: #F2F2F2;
    margin: 0.5em;
    padding: 0.5em;
  }
  //</editor-fold>

  /*<editor-fold desc="6.2 - Chat">*/

  #divAllChatWindows
  {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: hsla(0, 0%, 0%, 0.15);

    .chatWindows
    {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-flow: column nowrap;
      height: 334px;
      width: 284px;
      margin: 0 25px;
      background: var(--blancFonce);
      border: none;
      border-radius: 3px 3px 0px 0px;

      .barreHauteChat
      {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;

        /*border-bottom: 1px solid var(--grisClair2);*/
        background: var(--BleuComplementaire);
        div:first-of-type, .closeChat
        {
          padding: 5px 8px;
        }
      }

      .discussionChat
      {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
        max-height: 254px;
        overflow: auto;

        p
        {
          Position: relative;
          background: var(--blanc);
          margin: 5px;
          display: inline-block;
          Padding: 5px;
          border-radius: 3px;
          &:not(.contact):after
          {
            //content: '';
            //position: absolute;
            //width: 0;
            //height: 0;
            //top: 24px;
            //left: -5px;
            //z-index: 2;
            //border-left: 9px solid transparent;
            //border-right: 9px solid transparent;
            //border-bottom: 20px solid var(--blanc);
            //transform: rotate(205deg);
          }
          &.contact
          {
            align-self: flex-end;
            background: var(--BleuComplementaire);
            &:after
            {
              //content: '';
              //position: absolute;
              //width: 0;
              //height: 0;
              //top: 24px;
              //right: -5px;
              //z-index: 2;
              //border-left: 9px solid transparent;
              //border-right: 9px solid transparent;
              //border-bottom: 20px solid var(--BleuComplementaire);
              //transform: rotate(155deg);
            }
          }
        }
      }

      .barreBasseChat
      {
        Display: flex;
        justify-content: center;
        align-content: stretch;
        height: 50px;
        form
        {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          flex-flow: row nowrap;
          flex-grow: 1;
          textarea
          {
            flex-grow: 6;
            outline: none;
            resize: none;
            overflow: auto;
            line-height: 50px;
            padding: 0 5px;
          }
          button
          {
            flex-grow: 5;
          }
        }
      }
    }
  }
  /*</editor-fold>*/

  //<editor-fold desc="6.3 - Section / Popup | Bulle">
  #backgroundBulle
  {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: hsla(0, 0%, 0%, 0.15);

    #bulle
    {
      background: white;
      padding: 20px 30px;
      position: relative;

      #closeBulle
      {
        display: flex;
        position: absolute;
        height: 20px;
        width: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 15px;
        right: 15px;
        font-size: 1.3em;
        font-family: sans-serif;
        font-weight: 900;
        cursor: pointer;
      }
      > div.bulleMenu
      {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-flow: column;
        a
        {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 10px 10px 10px;
          padding: 0 20px;
          min-height: 50px;
          color: var(--blanc);
          background: var(--rouge);
          border: solid 2px var(--rouge);
          font-size: 1.05em;
          font-variant: small-caps;
          letter-spacing: 2px;
          text-decoration: none;
        }
      }
    }
  }
  table
  {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    margin: 1em auto;
    width: 95%;
    border-collapse: collapse;
    th, td
    {
      border: 1px solid var(--rougeFonce);
      padding: .5em 1em;
      text-align: left;
    }
    th
    {
      background: var(--rouge);
    }
    td
    {
      background: var(--blanc);
    }
  }

  @media (max-width: 30em)
  {
    table
    {
      box-shadow: none;
      thead, tfoot
      {
        display: none;
      }
      tr
      {
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      }
      th, td
      {
        padding: .5em;
      }
      tr, td
      {
        display: block;
      }
      td
      {
        border-top: none;
        &:nth-child(n):before
        {
          content: attr(data-key);
          word-wrap: break-word;
        }
        &:nth-child(n)
        {
          padding-left: 25%;
        }
        &:nth-child(n):before
        {
          position: absolute;
          left: .5em;
          font-weight: bold;
        }
        &:first-of-type
        {
          background: var(--rouge);
          border-top: 1px solid var(--rougeFonce);
        }
        &.actions
        {
          a
          {
            color: var(--blanc);
          }
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background: none;
        }
      }
    }
  }

  //</editor-fold>

  /*</editor-fold>*/

  //<editor-fold desc="7.0 - Footer">
  footer
  {
    Display: flex;
    Justify-content: center;
    Align-items: center;
    Flex-grow: 1;
    Width: 100%;
    Min-height: 80px;
    ul
    {
      Display: flex;
      Justify-content: center;
      Align-items: center;
      list-style: inside none;
      li
      {
        Margin: 5px;
        a
        {
          Display: inline-block;
          Width: 100%;
          height: inherit;
          Padding: 8px 5px;
          color: var(--blanc);
          Text-decoration: none;
        }
      }
    }
  }
  > .message
  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 30px;
    background: whitesmoke;
    padding: 25px 20px 20px 20px;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 5px black);
    max-width: 25%;
    z-index: 10;

    .closeMessage
    {
      display: flex;
      position: absolute;
      height: 20px;
      width: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 7px;
      right: 7px;
      font-size: 1em;
      font-family: sans-serif;
      font-weight: 700;
      cursor: pointer;
    }
  }
  //</editor-fold>

}