@charset "UTF-8";
/**
	* Created by PhpStorm.
	* User: Guillaume
	* Date: 05/07/2017
	* Time: 11h34
*/
/**
	* Arborescence du CSS: APEL - Bonne Esperance
	*
	* 	1.0 - Polices d'écritures supplémentaires
	* 	2.0 - Variables
	* 	3.0 - Général au site
	* 	4.0 - Header
	* 	5.0 - Aside
	* 	6.0 - Section
	* 	6.1 -	Section - Popup | Bulle
	* 	6.2 -	Section -
	* 	7.0 - Footer
	* -----------------------------------------------------------------------------
	*
*/
/*<editor-fold desc=" 1.0 -  Polices d'écritures supplémentaires">*/
/*</editor-fold>*/
/*<editor-fold desc="2.0 - Variables">*/
/* line 29, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
:root {
  /* Couleur basique */
  --blanc: #f2f2f2;
  /* #F2F2F2; */
  --blancFonce: #cfcfcf;
  /* #CECECE;*/
  /* Couleur thème */
  --rouge: #993d45;
  /* #983C44; */
  --rougeFonce: #9a2b23;
  /* #982A23; */
  --BleuComplementaire: #3d9991;
  /* #3D9991; */
  --grisClair: #2c2e3a;
  /* #2C2E3A; */
  --grisTresClair: #595d73;
  /* #1A1C28 */
  --gris: #2c2e3a;
  /* #2D2F3B */
  --grisFonce: #272934;
  /* #272934; */ }

/*</editor-fold>*/
/*<editor-fold desc="3.0 - Général au site">*/
/*::selection*/
/*{*/
/*!*color: ;*!*/
/*!*background: ;*!*/
/*}*/
/* line 62, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
* {
  Box-sizing: border-box;
  Margin: 0;
  Padding: 0;
  word-wrap: break-word;
  Outline: 0;
  Color: Black;
  Border: none;
  Font-family: "Tahoma";
  Font-size: 1em;
  Font-weight: normal; }

/*</editor-fold>*/
/* line 80, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
  /*<editor-fold desc="4.0 - Header">*/
  /*</editor-fold>*/
  /*<editor-fold desc="5.0 - Aside">*/
  /*</editor-fold>*/
  /*<editor-fold desc="6.0 - Section">*/
  /*
      VIncent : J'ai mis des border sur tous les éléments pour les identifier. Pourront
      Etre enlevées quand les couleurs de background seront bonnes
  */
  /*Cette propriété pourra etre supprimée car a la place de l'image , il y aura un vrai slider*/
  /*<editor-fold desc="6.2 - Chat">*/
  /*</editor-fold>*/
  /*</editor-fold>*/ }
  /* line 88, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    Min-height: 70px;
    background: var(--gris); }
    /* line 97, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body header h1 a {
      Display: inline-block;
      Padding: 20px;
      Color: var(--blanc);
      Font-family: "Tahoma";
      Font-weight: bold;
      Text-transform: uppercase;
      text-decoration: none; }
    /* line 107, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body header nav {
      align-self: stretch;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
      /*flex-grow: 1;*/ }
      /* line 115, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body header nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: stretch;
        list-style: none; }
        /* line 122, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body header nav ul li {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: center;
          list-style: none; }
          /* line 129, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
          body header nav ul li a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            height: 100%;
            padding: 0 20px;
            color: var(--blanc);
            text-decoration: none; }
  /* line 144, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body > nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    min-height: 70px;
    padding: 10px 0; }
    /* line 152, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body > nav ul {
      min-width: 55%;
      list-style: none;
      display: flex;
      Flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: stretch; }
      /* line 160, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body > nav ul li {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin: 10px;
        min-height: 50px;
        border: solid 2px var(--rouge);
        background: var(--rouge); }
        /* line 169, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body > nav ul li:hover {
          transform: scale(1.1); }
        /* line 173, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body > nav ul li a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0 20px;
          color: var(--blanc);
          font-size: 1.05em;
          font-variant: small-caps;
          letter-spacing: 2px;
          text-decoration: none; }
  /* line 192, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body aside {
    flex-grow: 1;
    border: 1px solid; }
  /* line 206, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body section {
    Flex-grow: 8;
    Min-height: 400px;
    Max-width: 85%;
    Background: var(--blanc); }
  /* line 213, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body h2 {
    Padding: 30px 0 30px 50px;
    Color: var(--rougeFonce);
    Font-size: 3em;
    Font-variant: small-caps;
    Letter-spacing: 2px; }
  /* line 221, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body h3 {
    Padding: 12px 0 15px 2.5%;
    Color: var(--grisTresClair);
    Font-size: 2em;
    font-variant: small-caps;
    Letter-spacing: 1.3px; }
  /* line 229, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body div.actionBouton {
    Display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    Padding: 10px;
    Background: var(--rouge); }
    /* line 237, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body div.actionBouton a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 0 20px;
      min-height: 50px;
      color: var(--rouge);
      background: var(--blanc);
      border: solid 2px var(--blanc);
      font-size: 1.05em;
      font-variant: small-caps;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-decoration: none; }
    /* line 253, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body div.actionBouton h3 {
      Display: inline-block;
      Max-width: 50%;
      Padding: 10px 50px 10px 0;
      Margin: 0 0 0 60px;
      Color: var(--rougeFonce);
      Font-size: 2em;
      Font-variant: small-caps;
      Text-indent: 10px;
      Letter-spacing: 1px;
      border-bottom: 3px solid currentColor; }
  /* line 268, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body p {
    Padding: 5px 15px 15px; }
  /* line 273, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body a.copy {
    display: inline-block;
    border: 1px dotted black;
    border-radius: 15px;
    margin: 10px 20px;
    padding: 15px;
    width: 80%;
    background: white; }
  /* line 284, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body #caroussel {
    Flex-grow: 1;
    Width: 100%;
    Min-height: 400px; }
  /* line 291, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .btn_valider {
    font-family: "Tahoma";
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: none;
    border: none; }
    /* line 301, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .btn_valider.rouge {
      background-color: var(--rouge);
      color: var(--blanc); }
      /* line 305, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body .btn_valider.rouge:hover {
        background-color: var(--rougeFonce);
        color: var(--blanc);
        transition-delay: 0s; }
    /* line 312, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .btn_valider.gris {
      background-color: var(--gris);
      color: var(--blanc); }
      /* line 316, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body .btn_valider.gris:hover {
        background-color: var(--grisFonce);
        border-color: var(--grisFonce);
        color: var(--blanc);
        transition-delay: 1s; }
    /* line 324, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .btn_valider.blanc {
      background-color: var(--blanc);
      color: var(--rouge); }
      /* line 328, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body .btn_valider.blanc:hover {
        transition: all 200ms;
        background-color: var(--blancFonce);
        color: var(--rouge); }
  /* line 337, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .titre {
    font-family: "Tahoma";
    font-weight: bold;
    text-transform: uppercase; }
    /* line 342, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .titre.blanc {
      color: var(--blanc); }
    /* line 346, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .titre.rouge {
      color: var(--rouge); }
  /* line 352, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .texte {
    font-family: "Tahoma"; }
    /* line 355, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .texte.blanc {
      color: var(--blanc); }
    /* line 359, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .texte.rouge {
      color: var(--rouge); }
  /* line 365, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .menu {
    flex-grow: 1;
    width: 100%;
    border: 1px solid; }
    /* line 370, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .menu li {
      display: inline-block;
      padding: 0.5em; }
  /* line 377, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .corpsPage {
    flex-grow: 8;
    width: initial; }
  /* line 383, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .entete ul {
    display: flex;
    justify-content: space-between; }
  /* line 391, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .background.gris {
    background-color: var(--gris); }
  /* line 395, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .background.blanc {
    background-color: var(--blanc); }
  /* line 399, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .background.rouge {
    background-color: var(--rouge); }
  /* line 405, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid; }
  /* line 413, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body .slider {
    width: 100%;
    flex-grow: 1;
    border: 1px solid; }
    /* line 418, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body .slider img {
      width: 100%; }
  /* line 427, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body article {
    background-color: #F2F2F2;
    margin: 0.5em;
    padding: 0.5em; }
  /* line 437, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body #divAllChatWindows {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.15); }
    /* line 449, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body #divAllChatWindows .chatWindows {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-flow: column nowrap;
      height: 334px;
      width: 284px;
      margin: 0 25px;
      background: var(--blancFonce);
      border: none;
      border-radius: 3px 3px 0px 0px; }
      /* line 462, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body #divAllChatWindows .chatWindows .barreHauteChat {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        /*border-bottom: 1px solid var(--grisClair2);*/
        background: var(--BleuComplementaire); }
        /* line 472, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body #divAllChatWindows .chatWindows .barreHauteChat div:first-of-type, body #divAllChatWindows .chatWindows .barreHauteChat .closeChat {
          padding: 5px 8px; }
      /* line 478, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body #divAllChatWindows .chatWindows .discussionChat {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
        max-height: 254px;
        overflow: auto; }
        /* line 488, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body #divAllChatWindows .chatWindows .discussionChat p {
          Position: relative;
          background: var(--blanc);
          margin: 5px;
          display: inline-block;
          Padding: 5px;
          border-radius: 3px; }
          /* line 510, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
          body #divAllChatWindows .chatWindows .discussionChat p.contact {
            align-self: flex-end;
            background: var(--BleuComplementaire); }
      /* line 532, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body #divAllChatWindows .chatWindows .barreBasseChat {
        Display: flex;
        justify-content: center;
        align-content: stretch;
        height: 50px; }
        /* line 538, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body #divAllChatWindows .chatWindows .barreBasseChat form {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          flex-flow: row nowrap;
          flex-grow: 1; }
          /* line 545, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
          body #divAllChatWindows .chatWindows .barreBasseChat form textarea {
            flex-grow: 6;
            outline: none;
            resize: none;
            overflow: auto;
            line-height: 50px;
            padding: 0 5px; }
          /* line 554, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
          body #divAllChatWindows .chatWindows .barreBasseChat form button {
            flex-grow: 5; }
  /* line 565, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body #backgroundBulle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15); }
    /* line 578, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body #backgroundBulle #bulle {
      background: white;
      padding: 20px 30px;
      position: relative; }
      /* line 584, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body #backgroundBulle #bulle #closeBulle {
        display: flex;
        position: absolute;
        height: 20px;
        width: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 15px;
        right: 15px;
        font-size: 1.3em;
        font-family: sans-serif;
        font-weight: 900;
        cursor: pointer; }
      /* line 600, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body #backgroundBulle #bulle > div.bulleMenu {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-flow: column; }
        /* line 606, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body #backgroundBulle #bulle > div.bulleMenu a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 10px 10px 10px;
          padding: 0 20px;
          min-height: 50px;
          color: var(--blanc);
          background: var(--rouge);
          border: solid 2px var(--rouge);
          font-size: 1.05em;
          font-variant: small-caps;
          letter-spacing: 2px;
          text-decoration: none; }
  /* line 625, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body table {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    margin: 1em auto;
    width: 95%;
    border-collapse: collapse; }
    /* line 631, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body table th, body table td {
      border: 1px solid var(--rougeFonce);
      padding: .5em 1em;
      text-align: left; }
    /* line 637, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body table th {
      background: var(--rouge); }
    /* line 641, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body table td {
      background: var(--blanc); }
  @media (max-width: 30em) {
    /* line 649, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body table {
      box-shadow: none; }
      /* line 652, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body table thead, body table tfoot {
        display: none; }
      /* line 656, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body table tr {
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }
      /* line 662, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body table th, body table td {
        padding: .5em; }
      /* line 666, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body table tr, body table td {
        display: block; }
      /* line 670, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body table td {
        border-top: none; }
        /* line 673, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body table td:nth-child(n):before {
          content: attr(data-key);
          word-wrap: break-word; }
        /* line 678, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body table td:nth-child(n) {
          padding-left: 25%; }
        /* line 682, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body table td:nth-child(n):before {
          position: absolute;
          left: .5em;
          font-weight: bold; }
        /* line 688, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body table td:first-of-type {
          background: var(--rouge);
          border-top: 1px solid var(--rougeFonce); }
        /* line 693, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body table td.actions {
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background: none; }
          /* line 695, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
          body table td.actions a {
            color: var(--blanc); } }
  /* line 714, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body footer {
    Display: flex;
    Justify-content: center;
    Align-items: center;
    Flex-grow: 1;
    Width: 100%;
    Min-height: 80px; }
    /* line 722, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body footer ul {
      Display: flex;
      Justify-content: center;
      Align-items: center;
      list-style: inside none; }
      /* line 728, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
      body footer ul li {
        Margin: 5px; }
        /* line 731, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
        body footer ul li a {
          Display: inline-block;
          Width: 100%;
          height: inherit;
          Padding: 8px 5px;
          color: var(--blanc);
          Text-decoration: none; }
  /* line 743, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
  body > .message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 30px;
    background: whitesmoke;
    padding: 25px 20px 20px 20px;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 5px black);
    max-width: 25%;
    z-index: 10; }
    /* line 758, C:/wamp64/www/apel-bonne-esperance/Styles/scss/style.scss */
    body > .message .closeMessage {
      display: flex;
      position: absolute;
      height: 20px;
      width: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 7px;
      right: 7px;
      font-size: 1em;
      font-family: sans-serif;
      font-weight: 700;
      cursor: pointer; }

/*# sourceMappingURL=../style.map */